# Slack API credentials
SLACK_BOT_TOKEN=xoxb-your-bot-token
SLACK_APP_TOKEN=xapp-your-app-token
SLACK_SIGNING_SECRET=

# Gemini API Key for !gem command
GEMINI_API_KEY=

# Google Cloud project details for !image command
GCLOUD_PROJECT=your-gcloud-project-id
GCLOUD_LOCATION=us-central1
GOOGLE_APPLICATION_CREDENTIALS=./gcp-credentials.json

# Finnhub API Key for !q and !cq commands as well as morning news (optional)
FINNHUB_API_KEY=

# Alpha Vantage API Key for !chart commands (optional)
ALPHA_VANTAGE_API_KEY=

# Channel ID for the scheduled morning greeting (optional)
SLACK_MORNING_GREETING_CHANNEL_ID=C01KM6WB17H

# Cron schedule for the morning greeting (e.g., '30 9 * * *' for 9:30 AM) (optional)
MORNING_GREETING_SCHEDULE='30 9 * * *'

# Vertex AI Configuration for !image generation (optional)
VERTEX_PROJECT_ID=
VERTEX_LOCATION=

# AI Model Configuration
# recommend either gemini-2.5-pro or gemini-2.5-flash
# flash is less expensive and faster, but results are worse overall
GEMINI_MODEL=gemini-2.5-pro

# Number of messages to fetch for channel history context, if channel mode is enabled or in RPG GM mode
CHANNEL_HISTORY_LIMIT=10 